.seccion {
  width: 100%;
  min-height: 100vh;
  background-color: #1c1c1c;
  color: white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.seccion h2 {
  font-family: var(--font-dancing-script);
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
}

.columnasContenedor {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  gap: 3rem;
}

.columna {
  flex: 1;
}

.columna:nth-child(2) {
  border-left: 2px solid white;
  padding-left: 3rem;
}

.columna h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.columna ul {
  list-style: none;
  padding: 0;
}

.columna li {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}